<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->

<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->

<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->

<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Annotating Academic Video</title>
    <meta name="description" content="Video annotations tool">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="style/style.css">
    <!-- build:[data-main]:build optimized.js-->
    <script src="js/libs/require/require.js" data-main="js/libs/require/config/config"></script>
    <!-- /build -->
</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Annotating Academic video - <%= version %> </a>
          
          <ul class="nav pull-right">
              <li class="dropdown" id="view-options">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="menu-category">Annotate</li>
                  <li><a id="opt-annotate-text" class="opt-layout checked" href="#"><i class="check icon-check"></i> Text annotations</a></li>
                  <li><a id="opt-annotate-categories" class="opt-layout checked" href="#"><i class="check icon-check"></i> Structured annotations</a></li>
                  <li role="presentation" class="divider"></li>
                  <li class="menu-category">Views</li>
                  <li><a id="opt-view-annotate" class="opt-layout checked" href="#"><i class="check icon-check"></i> Annotate view</a></li>
                  <li><a id="opt-view-list" class="opt-layout checked" href="#"><i class="check icon-check"></i> List view</a></li>
                  <li role="presentation" class="divider"></li>
                  
                  <span id="menu-plugins">
                      <!-- Place to add the menu elements from the plugins -->
                  </span>
                  
                  <li role="presentation" class="divider"></li>
                  <li class="menu-category">Annotations visibility</li>
                  <li><a class="opt-tracks-mine" href="#"><i class="check icon-check"></i> My annotations only</a></li>
                  <li><a class="opt-tracks-select" href="#"><i class="check icon-check"></i> Other public annotations...</a></li>
                  <li><a class="opt-tracks-public" href="#"><i class="check icon-check"></i> All public annotations</a></li>
                  

                </ul>
              </li>
              <li><a href="#" id="export">Export for statistics</a></li>
              <li><a href="#" id="print">Print</a></li>
              <li><a href="#" id="logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div id="main-container" class="container-fluid">		
    
    <!-- Loading box -->
    <div class="hero-unit" id="loading">
        <h1>Loading</h1>
        <p class='info'>The annotations tool create the views</p>
        <p>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 10%;"></div>
            </div>
        </p>
    </div>
    

    
    <div class="row-fluid">
        <div class="span6" id="left-column"> 

            <div id="title-container">
                <div id="video-title"></div>
                <div id="video-owner"></div>
                <div id="video-date"></div>
            </div>
        
            <!-- container for the video -->
            <div id="video-container" class="window" style="display:none">
                <video id="example" style="width:100%" controls >
                    <%= sources %>
                </video>
            </div>
            
            <!-- container for the timeline-->
            <div>
                <div class="window" id="timeline-container" style="display:none">
                    <div class="navbar">
                        <div class="navbar-inner">
                          <div class="container-fluid">
                            <span class="time"></span>
                          </div>
                        </div>
                    </div>
                    <div id="timeline"></div>
                    
                    <div id="timeline-custom-navigation">
                        <div class="timeline-bottom-controls">
                          <div class="btn-group dropup">
                             <!-- <button class="btn">Other annotations</button> -->
                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                              Other annotations <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="opt-tracks-mine" href="#"><i class="check icon-check"></i> My annotations only</a></li>
                              <li><a class="opt-tracks-select" href="#"><i class="check icon-check"></i> Other public annotations...</a></li>
                              <li><a class="opt-tracks-public" href="#"><i class="check icon-check"></i> All public annotations</a></li>
                            </ul>
                          </div>
                          <a id="add-track" class="btn">+ Add track</a>
                        </div>


                        <div class="timeline-bottom-controls" id="reset-zoom"><a class="btn"><i class="icon-eye-open"></i> Reset zoom</a></div>
                        <div class="timeline-bottom-controls" id="move-left"><a class="btn">&lt;</a></div>
                        <div class="timeline-bottom-controls" id="zoom-in"><a class="btn">+</a></div>
                        <div class="timeline-bottom-controls" id="zoom-out"><a class="btn">-</a></div>
                        <div class="timeline-bottom-controls" id="move-right" ><a class="btn">></a></div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="span6" id="right-column">
        
            <!-- container for the annotations insertion box -->
            <div>
                <div class="window expanded" id="annotate-container" style="display:none">

                    <div class="navbar">
                        <div class="navbar-inner">
                          <div class="container">
                            <span class="window-title">Annotate</span>
                              <div class='currentTrack'>
                               <span class='title'>&nbsp;on</span>
                               <span class="content">No track selected</span>
                             </div>
                          </div>
                        </div>
                    </div>
    
                    <div class="control-group" id="annotate-form">
                        <div class="no-track">Select a track to start annotating</div>
                        
                        <div id="input-container" class="insert-fields">
                            <textarea id="new-annotation" placeholder="Write a free text annotation. Use &raquo;shift + return&laquo; keys to create a new line." rows="3" title="Use &raquo;shift + return&laquo; keys to create a new line."></textarea>
                            <div class="controls stop-fields">
                                <label class="checkbox inline">
                                    <input id="pause-video" type="checkbox">Pause video during writing
                                </label>
                            </div>
                            <button id="insert" type="button" class="btn">Insert</button>                 
                        </div>
    
    
                        
                        <div id="categories">
                            
                            <ul class="nav nav-tabs" id="label-tabs-buttons">
                                  <label class="checkbox inline" id="editSwitch">
                                  <input type="checkbox" value="option1"> Edit mode    
                              </label>
                            </ul>
                             
                            <div class="tab-content" id="label-tabs-contents">
                            </div>
                                                              
                        </div>
                    
                    </div>
    
                </div>
            </div>
        
            <!-- container for the annotations list -->
            <div>
                <div class="window expanded" id="list-container" style="display:none" data-spy="scroll">
                    <div class="navbar">
                        <div class="navbar-inner">
                          <div class="container">
                         
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Items visiblity<b class="caret"></b></a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#" class="collapse-all">Collapse All</a></i></li>
                                    <li><a href="#" class="expand-all">Expand All</a></i></li>
                                  </ul>
                                </li>
                            </ul>

                          </div>

                        </div>
                    </div>

                    <div id="content-list-scroll">
                        <div id="content-list"></div>
                    </div>
                    
                </div>
            </div>
            
        </div>

      </div>

      <!-- Containter for the categories legend, only displayed in print mode -->
    </div> <!-- /container -->

    <div id="dialogs"></div>
    <div class="modal" id="user-login" style="display:none"></div>
    <div class="modal" id="scale-editor" style="display:none"></div>
    <div class="modal" id="alert" style="display:none"></div>
    <div class="modal" id="tracks-selection" style="display:none"></div>
    <div id="categories-legend" class="print"></div>
</body>
</html>
