/**
 * Style for annotations list
 */

// @import "../bootstrap/less/variables.less";
// @import "../bootstrap/less/mixins.less";
// @import "../bootstrap/less/sprites.less";
// @import "variables.less";
// @import "base_style.less";
 

#list-container{

    @min-height: 300px;
    @content-padding: 5px;

    .iconStateSelected(@color1: fade(@black,20%),@color2: fade(@blue,70%),@cursor: pointer,@radius: 3px) {
        background-color: @color1;
        box-shadow: 0 0 1px @color2 inset;
        border-radius: @radius;
        cursor: @cursor;
    }   

    .navbar .dropdown {
        visibility: hidden;
    }
    
    &.expanded {
        //min-height: @min-height;
        .navbar .dropdown {
            visibility: visible;
        }
    }

    div.collapse {
        display: none;
    }

    #content-list-scroll {
        overflow-y: auto;
        overflow-x: hidden;
        background-color: black;
    }

    #content-list{
        background-color: #4b4b4b;
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 55px;
        width: 100%; 
    }
    
    a.proxy-anchor{
        display: none;
    }

    i.check{
        visibility: hidden;
    }

    .checked i.check{
        visibility: visible;
    }
    
    div.annotation {
        @headerHeight: 16px; 
        @headerPadding: 2px;
        @headerSumHeight: @headerHeight + (2 * @headerPadding);

        > div:first-child {
            /* Layout of headerbar*/
            height: @headerSumHeight;
            line-height: @headerSumHeight;
        }

        background-color: @white;
        border-left: 1px solid @gray;      
        border-right: 1px solid @gray;    
        border-top: 1px solid @gray; 


        margin: 0;
        padding: 0 5px;
        background-color: @grayLighter;


        .creator {
            display: none;
        }       
                       
        &:hover{
          cursor: pointer;   
        }
               
        &.first-child {
            border-top: none;
        }

        &.selected{

            tr:first-child {
                //background-position: top;
                //background-image: url("../img/annotation/pattern.png");
                //background-repeat: repeat-x;
                background-color: darken(@grayLighter, 10%);
            }

            box-shadow: inset 0px 0px 2px 1px red;

            //border: 1px solid @red;      
            //border-bottom: 2px solid @red;    
            //border-top: 2px solid @red;    
        }

        .right {
            float: right;
            width: 30%;
            height: @headerSumHeight;
            text-align: right;
        }   
        
        .left {
            float: left;
            overflow:hidden;
            width: 68%;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: @headerSumHeight;
        }               
        
        button {
            height: @headerSumHeight;
            border: 1px solid @btnBorder;
            .box-sizing(border-box);
            padding: @headerPadding;
            vertical-align: top;
            line-height: headerHeight;        
        }

        .text-container {
            padding-bottom: 2px;
        }        
                
                
        /* Content Elements in headerbar*/

        .read-only {
            display: inline-block;
        }

        .comments .date:before{
            content: "on ";
        }

        .comment-amount {
            float:right;
            font-size: 9px;
            line-height: 10px;
            text-align: center;
            width: 15px;
            font-style:normal;   
        }

        .add-comment {
            .icon-comment-amount, .icon-comment {
                .iconStateSelected();
            }
        }

        .edit-annotation {
            i.toggle-edit, i.toggle-edit:hover {
                .iconStateSelected();
            }
        }
        
        i{    
            &.delete, &.toggle-edit{
               visibility: visible;
            }
            
            //Highlight clickable icons on mouseover           
            &.icon-chevron-down, &.icon-chevron-right, &.icon-trash, &.icon-pencil, &.icon-comment, &.icon-comment-amount {
                &:hover {
                    .iconHover();
                }
            }
        }
        

        .start,.end{
            display: inline-block;
            position: relative;
            color: @black;

            &.no-duration {
                display: none;
            }

            &.read-only {
                width: 65px;
                position: relative;
                z-index: 300;
                margin: 0;
                padding: 0;             
                box-shadow: none;
                color: @black;
                text-align: center;
                font-family: monospace;
                background: transparent;
                z-index: 100;
                border: none;
                //cursor: text;
                cursor: pointer;

            }
                        
            input{
                width: 65px;
                border: none;
                position: relative;
                z-index: 300;
                margin: 0;
                padding: 0;             
                box-shadow: none;
                color: @black;
                text-align: center;
                font-family: monospace;
                background:@white;

                &.error {
                    color: @red;
                    font-weight: bold;
                }
            }

            .start-btn, .end-button {
                position: absolute;
                left: 0%;
                right: 0%;
                top:0;
                z-index: 150;
                width: 65px;
                height: @headerHeight;
            }
        }
                
        span.scaling{

            select {
                width: 60px;
                height: @headerSumHeight;
                padding: @headerPadding;
                margin: 0;
                font-size: 0.85em;
                color: @white;
                background-color: @black;
                border: none; 
                vertical-align:top;                                        
            }

            span {
                background-color: @black;
                color: @white;
                height: @headerHeight;
                padding: @headerPadding;                
                font-weight: bold;
                min-width: @headerHeight;
                max-width: 4*@headerHeight;
                text-overflow: ellipsis;
                overflow:hidden;
                font-size: 0.9em;
                display: inline-block;
                text-align: center;
                vertical-align:top;
            }
        }               
                
        span.category{
                    color: @gray;

                    span.abbreviation {
                        color: @black;
                    } 

                    span.category-name {
                        display: none;
                    }              
        }               

        /* Content elements in body*/
            
        span.text{
            display: block;
            padding: @content-padding;
            background-color: white;
            word-wrap: break-word;
        }

        span.freetext {
            textarea {
                width: 97.5%;
                resize:vertical;
            }
        }
       
        // span.track{
        //     display:none;
        //     background-color: lighten(#005580,20%);
        //     color: white;
        //     padding: 3px;
        //     font-size: 0.90em;  
        // }
        
        div.creator-info{
            padding: @content-padding;
            font-size: 10px;
            width: 100%;
            display: inline-block;

            span.user, span.created, span.track {
                font-style: italic;
            }

            span.user {
                &:before {
                    font-style: normal;
                    content: " Created by ";
                }

                &:after {
                    font-style: normal;
                    content: " on ";
                }
            }

            span.created {
                &:after {
                    font-style: normal;
                    content: " on track ";
                }
            }
        }
    }

    .button-bar {
            text-align: right;
            button {
                margin-bottom: 5px;
            }
    }


    div.comments-container {
      //background-color: @grayLight;
      color: @black;
      clear: both;
      padding-bottom: 2px;

      
      textarea { 
                resize:vertical;  
        }

        div.title {
            background-color: @grayLight;
            padding: 2px;
        }
            
      
      .comment-header {

                padding: 2px;
                    
                span.add-comment {
                    line-height: 16px;
                    min-height: 16px;
                    display: block;
                    text-align:right;
                    margin-right: 10px;    

                    a.add-comment {     
                        color: @grayDark;
                    }
                }
                

            }
            
        .comment-list {
        
          font-size: 0.92em;

                > div[id^="comment"] {
                    padding: @content-padding;
                        
                    span.header {
                        display: block;
                        font-size: 1em;
                        
                        .username {
                            color: @black;
                            font-weight: bold;
                        }
                        .date {
                            color: #707070;
                        }
                    }           
                    span.text {
                        background-color: transparent;
                        margin: 0;
                    } 
                }   
            }
    }

    .comments-container.collapse {
      padding: 0px;
    }

    i.delete-comment {
      float: right;
      margin-left: 5px;
    }
    i.edit-comment {
      float: right;
      margin-left: 5px;
    }

}

.collapse-comment i {
  float: left;
  margin-right: 5px;
}
.collapse-comment {
    //.collapse();
}